/*review*/

/*Fonts*/ 

$baseFontSize: 20px;

/*Colors*/

$blackColor: #000;
$whiteColor: #fff;
$photoBlure: linear-gradient(360deg, #241F24 0%, rgba(91, 91, 91, 0.447552) 34.11%, rgba(187, 186, 192, 0.26) 62.5%);